
*.xml
embedding_model/glove.twitter.27B.100d
embeddings/glove.twitter.27B.100d.txt
*.xml___jb_tmp___
*.iml

articles/jsons/
embedding_model/glove.twitter.27B.zip
*.pyc
*.pyc
*.pyc
models/bert3.pkl
models/bert2.pkl
models/bert1.pkl
models/bert.pkl
