body {
	max-height: 410px;
	background-color: rgb(57, 59, 63);
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(215, 216, 219);
	margin: 0px;
	outline-style: dashed;
}
#items > div.simplebar-wrapper {
	height: 100%;
}
a {
	text-decoration: none;
	color: inherit;
}
a:active{
	color: inherit;
}
.content {
	display: grid;
	grid-template-columns: 350px 80px 185px;
	grid-template-rows: 30px 380px;
	transition: 2s;
}
#helpBlock {
	z-index: 10;
	grid-column: 1/2;
	grid-row: 1/2;
	background-color: #292b2e;
	padding-top: 3px;
	padding-left: 3px;
}
.helpBlockShadow {
	box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 1.5px 0 rgba(0,0,0,.05), 0 2px 0 rgba(0,0,0,.05), 0 3px 0 rgba(0,0,0,.05);
}
#settings {
	z-index: 200;
	grid-column: 3/4;
	grid-row: 1/2;
	font-size: 32px;
	border: none;
}
#dots {
	float: right;
	width: 20px;
	line-height: 26px;
	cursor: pointer;
	text-align: center;
	height: 100%;
	position: relative;
}
#dots, #help-tip {
	user-select: none;
}
#fetch-text>.tool-tip, #help-tip>.tool-tip {
	user-select: text;
}
#items {
	grid-row: 2/3;
	grid-column: 1/2;
	height: auto;
}
#test {
	max-height: 50px;
}
#histogram-spacer {
	grid-column: 3/4;
	grid-row: 2/3;
	position: relative;
}
.underline {
	border-bottom: 1px dotted;
	margin-bottom: -3px;
}
.card-scrollbar-active {
	margin-right: 13px;
}
#card-container {
	/*
	padding-right: 8px;
	padding-left: 8px;
	*/
	overflow-x: hidden;
}
.card:hover {
	background-color: #9395982a;
}
.card {
	font-family: 'Roboto', sans-serif;
	color: rgb(240, 242, 250);
	padding: 3.75px;
	padding-left: 6.5px;
	padding-right: 11px;
	background-color: #424346;
	/*
	margin-bottom: 12px;
	box-shadow: 2px 3px 1px rgba(32,34,37,.7), 2px 4px 0.5px rgba(0,0,0,.06);
	*/
	cursor: pointer;
	position: relative;
	border-left-color: #424346;
	transition: border-left-color 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);

}
.divider {
	width: 100%;
	border-bottom-color: hsla(0,0%,100%,.04);
	border-bottom: 1.4px solid transparent;
	/*
	background: linear-gradient(0.25turn, rgba(102, 104, 108, 0.39), rgba(102, 104, 108, 0.2));
	*/
}
.divider::after {
	content: "";
	width: auto;
	border-bottom-color: red;
	border-bottom: 1.4px solid transparent;
	/*
	background: linear-gradient(0.25turn, rgba(102, 104, 108, 0.39), rgba(102, 104, 108, 0.2));
	*/
}
.slideIn {
	animation-name: slideIn;
	animation-duration: 0.2876s;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes slideIn {
	from {transform: translateX(calc(0px + 100% + 8px));}
	to {transform: translateX(0px);}
}
/*
#items a:first-child .card {
	margin-top: 4px;
}
#items a:last-child .card {
	margin-bottom: 4px;
}
*/
.info {
	margin-top: 7px;
	margin-bottom: 1px;
	line-height: 16px;
	font-size: 13px;
}
.info * {
	display: inline;
	vertical-align: middle;
}
#help-tip>div, #fetch-text>.tool-tip{
	background: #232224;
}
.dropdown>a {
	cursor: pointer;
}
.dropdown {
	right: 3px;
	top: 3px;
	grid-auto-rows: 40px; 
	float: right;
	position: relative;
	text-align: center;
	line-height: 32px;
	background-color: black;
}
.dropdown>.dropdown-row {
	display: grid;
	grid-template-columns: 150px 65px;
}
.dropdown-row{
	text-align: left;
}
.icon-control {
	display: flex;
	justify-content: center;
  	align-items: center;
}
.dropdown>*{
	display: block;
	font-weight: normal;
	cursor: auto;
	padding: 3px;
	padding-left: 8px;
	font-size: 13px
}
.open-icon {
	pointer-events: none;
	height: 20px;
	width: 20px;
	filter: invert(88%) sepia(0%) saturate(62%) hue-rotate(147deg) brightness(99%) contrast(85%);
}
.first-row, .tool-tip, #dots > div {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.last-row, .tool-tip, #dots > div {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.dropdown>*:hover {
	background-color: rgb(44, 43, 43);
}
.publisher {
	margin-right: 7px;
}
.info-icon {
	width: 14px;
	height: 14px;
	filter: invert(91%) sepia(3%) saturate(1038%) hue-rotate(194deg) brightness(105%) contrast(94%);
	pointer-events: none;
	vertical-align: sub;
}
.title {
	margin-bottom: 1.5px;
	font-size: 1rem;
}
.info {
	color: rgb(208, 208, 208);
}
.date {
	color: #bfc4cc;
	font-size: .8rem;
}
#help-tip {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	font-weight: bold;
	background: #B9BBBE;
	color: rgb(68, 70, 73);
	margin-bottom: 5px;
}
#help-tip:hover>.tool-tip, #fetch-text:hover>.tool-tip {
	display: block;
	opacity: 1.0;
	pointer-events: auto;
}
#fetch-text {
	position: relative;
}
#fetch-text>.tool-tip {
	position: absolute;
	top: 24px;
	min-width: 165px;
}
#fetch-text>.tool-tip::before {
	top: -12px;
}
.tool-tip {
	padding: 6px;
	transition: opacity 0.2s linear;
	opacity: 0.0;
	text-align: left;
	pointer-events: none;
	line-height: 22px;
}
.popup {
	z-index: 50;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	color: rgb(215, 216, 219);
	font-size: 13px;
}
.tool-tip::before {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-bottom-color: #232224;
}
#help-tip>div {
	position: relative;
	width: 300px;
	top: 5.25px;
}
/*
#help-tip>div:after{
	 width:100%;
	 height:40px;
	 content:'';
	 position: absolute;
	 top:-40px;
	 left:0;
 }
 */
#help-tip>div::before {
   /* The pointer of the tooltip */
	left: 5px;
	top: -11px;
}
#scaleRectangle {
	height: 12.5px;
	background: linear-gradient(0.25turn, #F9414B, #4C8BF5);
	width: auto;
}
.left-align, .right-align {
	display: inline-block;
	width: 50%;
	padding-bottom: 7px;
}
.left-align {
	float: left;
}
.right-align {
	float: right;
	text-align: right;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
	top: 0px;
	bottom: -1px;
}
#items > div.simplebar-track.simplebar-vertical {
	pointer-events: auto;
	z-index: 20;
	margin: 0px;
	background-color: #5F5F5F;
	transform: scaleX(0.90);
}
.forceVisible {
	visibility: visible !important;
}
.simplebar-scrollbar {
	right: 0;
	width: 100%;
}
#items > div.simplebar-track.simplebar-vertical > div::before {
	opacity: 1;
	background-color: #2f3033;
	border-radius: 0px;
}
#placeholder {
	display: table;
	height: 365px;
	width: 100%;
	overflow: hidden;
}
.placeholder-text {
	color: #727277;
	display: table-cell;
	vertical-align: middle;
	font-size: 25px;
	text-align: center;
	font-weight: bold;
	padding: 17px;
}
.scale-grid {
	grid-column: 2/3;
	grid-row: 1/3;
	font-size: 15px;
	font-weight: 750;
	display: grid;
	grid-row-gap: 10px;
	grid-template-rows: 25px 330px 25px;
	grid-template-columns: 100%;
}
#scale-spacer {
	grid-template-columns: 250px;
}
.histogram-line-spacer > .histogram-line, .selection-line, #bar-scale > div{
	background-image: repeating-linear-gradient(180deg, #F9414B, #4C8BF5 350px);
	background-position: 29px 29px;
	background-attachment: fixed;
}
/*
#loading {
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}
*/
#positive, #negative {
	text-align: center;
}
#positive {
	grid-row: 1/2;
	grid-column: 1/2;
	line-height: 30px;
}
#negative {
	grid-row: 3/4;
	grid-column: 1/2;
	line-height: 16px;
}
.scale-container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
#bar-scale {
	grid-row: 2/3;
	grid-column: 1/2;
	text-align: center;
	align-items: center;
	overflow: hidden;
	position: relative;
	height: 100%;
}
.circle {
	width: 19px;
	height: 19px;
	border-radius: 50%;
	z-index: 22;
	text-align: center;
	line-height: 20px;
	counter-increment: score;
	font-size: 12px;
	cursor: pointer;
}
.scale-rectangle {
	width: 5px;
	height: 98%;
	position: absolute;
	top: 2px;
}
.line {
	height: 5px;
}
#histogram {
	position: absolute;
	height: 330px;
	top: 35px;
}
.histogram-line-spacer {
	position: relative;
	height: 17.5px;
	background-color: transparent;
	display: flex;
	align-items: center;
	z-index: 20;
}
.histogram-line {
	transition: width 1.43s cubic-bezier(0.165, 0.84, 0.44, 1);
	display: inline-block;
	height: 2.5px;
	width: 0px;
	border-top-right-radius: 2.5px;
	border-bottom-right-radius: 2.5px;
}
.selection-line-container {
	width: 31px;
	display: inline-block;
}
.selection-line {
	transition: width 0.423s cubic-bezier(0.165, 0.84, 0.44, 1);
	float: right;
	/*
	border-top-left-radius: 2.5px;
	border-bottom-left-radius: 2.5px;
	*/
	height: 2.5px;
	width: 0px;
}
.circle-spacer {
	width: 17px;
}
.this-site {
	display: inline-block;
	white-space: nowrap;
	font-size: 12px;
	padding-left: 3.2px;
	font-weight: 700;
}
#total-positioner {
	z-index: 30;
	grid-row: 3/4;
	grid-column: 1/2;
}
#total {
	position: relative;
	left: 90px;
	line-height: 16px;
	display: inline-block;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	background-color: #292B2E;
	border-radius: 5px;
	padding: 5px;
	bottom: 5px;
	box-sizing: border-box;
}
.scale-grid, #settings, #histogram-spacer {
	background-color: rgb(51, 54, 59);
}
#title {
	display: none;
	font-family: 'Cabin Condensed', sans-serif;
	font-weight: bold;
	left: 32px;
	top: -3px;
	position: absolute;
	color: rgb(221, 225, 235);
	font-weight: normal;
	font-size: 25.65px;
	line-height: 35px;
	border-radius: 5px;
	box-sizing: content-box;
	pointer-events: none;
}
.animatedColorGradient {
	animation: gradientShift 2s linear infinite alternate;
}
@keyframes gradientShift { 
    from {color:rgb(59, 90, 224)}
    to {color:#F9414B}
}
@keyframes wave {
	from { transform : translateY(0); }
	to   { transform : translateY(0.767px); }
}
#loading span {
	display: inline-block;
	animation-duration: 0.70s;
	animation-name: gradientShift, wave;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#help-tip > div {
	font-weight: normal;
}
.active-target {
	background-color: #232324;
}
svg * {
	fill: red;
}
.toggleBar+label {
	display: inline-block;
	width: 54px;
	height: 26px;
	margin: 0px auto;
	border-radius: 100px;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	background: rgb(103, 138, 214);
	vertical-align: middle;
}
input.toggleBar {
	display: none;
}
input.toggleBar+label>i {
	height: 22px;
	width: 22px;
	background: #f8f8f8;
	display: inline-block;
	border-radius: 100px;
	margin-top: 2px;
	margin-left: 2px;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	pointer-events: none;
	box-shadow: none;
}
input.toggleBar+label:hover>i {
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.20);
	transform: scale(1.03);
}
input.toggleBar:checked+label>i {
	margin-left: 30px;
}
input.toggleBar+:active>i {
	width: 30px;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
}
input.toggleBar:checked+label:active>i {
	margin-left: 18px;
}
input.toggleBar:checked+label {
	background: #F9414B;
}